.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #a2c0fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.field {
  border-radius:4px;
  height: 30px;
  display: center;
  text-align: center;
  margin-top:8px;
  width: 100%;
  border:1px solid rgba(0,0,0,0.25);
  padding:2px 6px;
}

.form-group {
  border: 5px solid #a2c0fa;
  padding:  0em 1em;
  border-radius: 16px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(47, 43, 77, 0.452);
  line-height: 2;
  margin: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}




.topnav {
  display: flexbox;
  height: 100%; /* 100% Full-height */
  width: 1; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  margin: 0px;
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.storyCards {
  display: inline-flex;
  float: left;

  height: 100%; /* 100% Full-height */
  width: 1; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  margin: 2px;
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}